<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>F*ck it!</h1>
    <p>Mock it 'till you make it</p>
  </body>
</html>
